# Rename this file to config.ini if it is not done yet.
# Change only what appears to the left of the '=' symbol on each line.
# Save the file.
# Repeat the procces any time you need it.

[DEFAULT]

# Prenotami account email.
email = some@mail.com

# Prenotami account password (the one you use in that website)
password = your_password

# Set True to allow media playback when an available appointment is found. Set False to prevent it.
run_media = True

# Path to the media you want to play when an available appointment is found.
media = C:/User/Username/Folder/media.mp3

# Seconds to wait for the page to fully load before retry
sec_timeout = 60

# Seconds to retry if the page is "unavailable"
sec_if_unavailable = 4

# Seconds to retry if no appointments are available
sec_if_no_appointments = 60